# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# VS Code
.vscode/

# PyCharm/JetBrains
.idea/

# OS specific
.DS_Store
Thumbs.db

# Flask specific (if applicable)
instance/
.webassets-cache

# Unit test / coverage reports
.pytest_cache/
.tox/
.nox/
.coverage
htmlcov/

# Logs
*.log
